{% load static %}
<!DOCTYPE>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
       <div class="container">
        <nav class="maon-nav">

            <ul class="nav-list">
                <li><a class="page-a" href="{% url 'home' %}">Home</a></li>
                <li><a class="page-a" href="{% url 'post_new' %}">Create Post</a></li>
            </ul>

        </nav>
        </div>
    </header>
    {%if user.is_authenticated%}
    <p>Hello {{user.username}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {%else%}
    <p>You are not Login</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'register' %}">Sign Up</a>

    {%endif%}
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>

</body>
</html>